<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
</head>
<body>
    <h1>Hi, I'm <href>Blaze Amazing!</href> </h1>
    <h2>Welcome to My Portfolio</h2>

    <a href="/projects">Projects:</a>
    <p>I have a variety of projects both personal and contract. They are built using Python, Swift, and JavaScript.</p>
    
    <a href="/about_me">About Me:</a>
    <p>A little about my background and why I do what I do.</p>
    
    <a href="/testimonials">Testimonials:</a>
    <p>What my clients and mentors have to say about my projects and work ethics.</p>
</body>
</html>